# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual envs
.venv/
venv/
env/

# Build artifacts
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Reports output folder
reports/

# OS
.DS_Store
Thumbs.db
